<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeroTone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <SeroTone.Properties.Settings>
            <setting name="RenderNormal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputSuffix" serializeAs="String">
                <value>.wav</value>
            </setting>
            <setting name="DynamicElements" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TextBlock_InputData</string>
                        <string>Another_Element</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GradStopColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0xFF, 0xFF, 0xFF, 0xFF</string>
                        <string>0xFF, 0x7E, 0xFF, 0xA7</string>
                        <string>0xFF, 0xFF, 0xFF, 0xFF</string>
                        <string>0xFF, 0x7E, 0xFF, 0xA7</string>
                        <string>0xFF, 0xFF, 0x7E, 0x98</string>
                        <string>0xFF, 0xF5, 0xB6, 0xC3</string>
                        <string>0xFF, 0xF5, 0xEF, 0xB6</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GradStopOffsets" serializeAs="String">
                <value>.218, .367, 0, .474, .758, .29, 1</value>
            </setting>
        </SeroTone.Properties.Settings>
    </applicationSettings>
</configuration>